@charset "UTF-8";
:root{
    --main-color: #007ACC; 
    --secondary-color: #0F172A;
    --main-font: "Playfair Display SC", serif;
    --secondary-font: "Inter", sans-serif;

    --text-color: white;
    --bg-url: url('../assets/bg-mobile.jpg');
    --stroke-color: rgb(255, 255, 255, 0.5);
    --surface-color:  rgb(255, 255, 255, 0.05);
    --surface-color-hover:  rgb(255, 255, 255, 0.02);
    --bg-dark: #212529;
    --bg-list: #3e454d;
    --bg-modal: #212529;
    --glass-effect: none;
    --switch-bg-url: white url('../assets/moon-stars.svg') no-repeat center;
}
.light{
    --text-color: black;
    --bg-url: url('../assets/bg-mobile-light.jpg');
    --stroke-color: rgb(0, 0, 0, 0.5);
    --surface-color:  rgb(0, 0, 0, 0.05);
    --surface-color-hover:  rgb(255, 255, 255, 0.02);
    --bg-dark: rgb(255, 255, 255, 0.25);
    --bg-list: rgb(255, 255, 255, 0.25);
    --bg-modal: rgb(255, 255, 255, 0.95);
    --glass-effect: blur(10px) saturate(120%);
    --switch-bg-url: white url('../assets/sun.svg') no-repeat center;
}
body, html{
    background: var(--bg-url) no-repeat top center/cover local;
    font-family: var(--secondary-font);
    scroll-behavior: smooth;
    scroll-margin-top: 3rem !important;
}
.navbar ,#custom-cards, #addProjectBtn, .modal-content, label{
    display: block;
    color: var(--text-color);
}
.navbar{
    background-color: var(--bg-dark);
    backdrop-filter: var(--glass-effect);
    position: sticky;
    top: 1rem;
    z-index: 9999;
}
.navbar span{
    color: var(--text-color);
}
.container{
    width: 360px;
    margin-top: 56px;
    padding: 0 24px;
}
.container-xxl{
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.container, a, a:hover{
    color: var(--text-color);
}
#profile img{
    max-width: 112px;
    
}
#profile p{
    font-weight: 500;
    margin-top: 15px;
}
.switch{
    width: 64px;
    margin: 4px auto;
}
.switch button{
    width: 32px;
    height: 32px;
    background: var(--switch-bg-url);
    border: 0;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.light .switch button{
    right: 0;
    left: initial;
}
.switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}
.container ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    font-weight: 500;
    transition: all 0.3s;
}
ul li a:hover{
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}
.card{
    cursor: pointer;
    transition: ease-in-out 8s;
    background-position: top !important;
    background-size: cover !important;
    height: 180px !important;
}
.card:hover{
    background-position: bottom !important;
}
/* projects start */
#echolights{
    background: url('../assets/projects/echo-lights-page.png') no-repeat;
}
#payment-page{
    background: url('../assets/projects/payment-page.png') no-repeat;
}
#crud{
    background: url('../assets/projects/crud-app.png');
}
/* projects end */
.bi-plus-square{
    font-size: 5.5em;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.bi-plus-square:hover{
    scale: 1.1;
    color: var(--main-color);
}
.card .bi-app-indicator{
    font-size: 4em;
}
.card .bi-app-indicator:hover{
    color: lightgray;
}
.modal-content{
    background-color: var(--bg-modal);
    border: 0;
}
.modal-title{
    color: var(--main-color);
    letter-spacing: 2px;
}

.skill-item {
    background-color:  var(--bg-list);
    padding: 5px 10px;
    width: max-content;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

/* Upload file start */
.file-input {
    height: 100%;
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
    display: grid;
    place-items: center; 
    padding: 8px;
    gap: 5px;
    background-color: rgba(0, 110, 255, 0.041);
    cursor: pointer;
    position: relative; 
}
.file-input .drop-zone {
    text-align: center;
}
.file-input input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; 
    cursor: pointer;
    z-index: 1; 
}
.file-input .drop-zone * {
    z-index: 2; 
}
.drop-zone {
    flex: 1;
    width: 100%;
    border: 2px dashed royalblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    transition: all .2s ease-in-out;
    position: relative;
}
.card-modal{
    background-position: top !important;
    background-size: cover !important;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 500ms ease-in-out;
    z-index: 0;
}
.card-modal:hover{
    opacity: 0.5;
    background-position: bottom !important;
} 
.drop-zone svg {
    height: 70px; 
    width: 70px;
}
.drop-zone p {
    text-align: center;
    font-size: 0.9rem; 
    color: var(--text-color);
}
.file-input .drop-zone svg{
    stroke: var(--text-color) !important;
}
.footer{
    background-color: rgba(0, 110, 255, 0.075);
    width: 100%;
    height: 35px;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    border: none;
}
.footer svg {
    height: 110%; 
    fill: royalblue;
    background-color: rgba(70, 66, 66, 0.103);
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.205);
}
.footer p {
    flex: 1;
    text-align: center;
    font-size: 0.85rem;
    color: var(--text-color);
}
.file-input.active > .drop-zone{
    background-color: royalblue;
}
/* Upload file end */

/* checkbox settings 👇 */

.ui-checkbox {
  --primary-color: #1677ff;
  --secondary-color: #fff;
  --primary-hover-color: #4096ff;
  /* checkbox */
  --checkbox-diameter: 20px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: #d9d9d9;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  /* checkmark */
  --checkmark-size: 1.2;
}

.ui-checkbox, 
.ui-checkbox *, 
.ui-checkbox *::before, 
.ui-checkbox *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.ui-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
}

/* actions */

.ui-checkbox:hover {
  border-color: var(--primary-color);
}

.ui-checkbox:checked {
  background: var(--primary-color);
  border-color: transparent;
}

.ui-checkbox:checked::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}